.problemBox {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  font-size: 18px;
  align-items: center;
  border-right: 1px solid #aaaaaa;
  font-weight: 300;
  padding: 0.5rem 0;
  text-align: center;
  transition: all 1.2s;
}

.problemBox:last-child {
  border-right: none;
}
.problemBox-FirstAccepted {
  color: black;
  background-color: #0b0;
}

.problemBox-Accepted {
  color: black;
  background-color: #8f8;
}

.problemBox-Resolving {
  color: black;
  background-color: #74b9ff;
  /* font-size: 1rem; */
  font-weight: 600;
}

.problemBox-Pending {
  color: black;
  background-color: #ff8;
}

.problemBox-WrongAnswer {
  color: white;
  background-color: #e74c3c;
}

.problemBox-NoAttempted {
  color: black;
}

.try {
  font-weight: 300;
  font-size: 14px;
}
