.problemBox {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  font-size: min(1.5vw, 18px);
  align-items: center;
  align-content: center;
  height: 100%;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}

.problemBox-FirstAccepted {
  color: white;
  background-color: #004400;
  border: 2px solid #00de00;
}

.problemBox-Accepted {
  color: white;
  background-color: #009c00;
  border: 2px solid transparent;
}

.problemBox-Resolving {
  color: white;
  background-color: #cbb000;
  border: 2px solid #ffff08;
}

.problemBox-Pending {
  color: white;
  background-color: #cbb000;
  border: 2px solid transparent;
}

.problemBox-WrongAnswer {
  color: white;
  background-color: #ad0b0b;
  border: 2px solid transparent;
}

.problemBox-NoAttempted {
  color: black;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.try {
  font-weight: 300;
  font-size: min(1.3vw, 14px);
}
