.scoreboardTable {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 1rem 0.6rem;
}

.score-FlipMove {
  order: 1;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  position: relative;
  height: auto;
  overflow-y: scroll;
  border: 2px solid black;
  border-top: none;
}

.scoreboardTableProblemRowFirstChild > :first-child {
  margin-left: 4.3%;
}

.scoreboardTableGrayRow {
  background-color: #ffffff;
}

.scoreboardTableBlackRow {
  background-color: #f0f0f0;
}

.scoreboardTableSelectedRow {
  /* background-color: #2873ed; */
  /* border-size: 3px; */
}

.scoreboardTableSelectedRowFinished {
  background-color: #255eba;
}
